@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure the body and html have full height */
html, body {
  @apply h-full;
}

/* Ensure the next root div has full height */
#__next {
  @apply h-full;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.sticky-nav {
     animation: sticky-nav 300ms;
}
    
@keyframes sticky-nav {
    0% {
        transform: translateY(-6em)
    }

    100% {
        transform: translateY(0)
    }
}